body{
    margin: 0;
}
button{
    margin-left: 1%;
    background-color: red;
    color: white;
    border: none;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center  ;
    width: 70px;
    height: 70px;
}
button:hover{
    background-color: white;
    color: black;
}
input{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    text-align: center;
    width: 350px;
    height: 100px;
}

header{
    padding: 1%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    background-color: red;
    text-decoration: none;
}
a{
    margin: none;
    padding: 5px;
    color: white;
    text-decoration: none;
}